<!DOCTYPE html>
<html>
  <head>
    <title>Chillow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <script>
    window.heroBanner="<%=image_url('heroBanner.jpg')%>"
    window.homeBanner="<%=image_url('homeBanner.jpg')%>"
    window.demoMiniMap="<%=image_url('demo-mini-map.png')%>"
    window.logo="<%=image_url('logo.png')%>"
    window.userSymbol="<%=image_url('userSymbol.png')%>"
  </script>
    <%= yield %>
  </body>
</html>
